.welcome-page {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70rem;
  font-family: $lato;

  &__image {
    z-index: -1;
  }

  &__heading {
    color: white;
    font-size: 6rem;
    z-index: 1;
  }

  &__link {
    z-index: 1;
    color: white;
    font-size: 1.8rem;
    border: 1px solid white;
    padding: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    font-weight: 600;
  }
}
