.contact {
  padding: 7rem 0;

  &__heading {
    padding-bottom: 5rem;
  }

  &__left-article {
    width: 50%;
  }

  &__images-container {
    width: 50%;
  }

  &__radio-text {
    justify-self: flex-start;
    text-align: left;
    font-family: $lato;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
  }

  &__radio-container {
    display: flex;
    justify-content: space-between;
    width: 60rem;
  }

  &__textarea {
    width: 65%;
  }

  &__submit-button {
    padding: 1rem;
    margin-top: 2rem;
    width: 30rem;
    background: none;
    border: 1px solid $main-color;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: $lato;
  }
}
