.contact {
  padding: 7rem 0;
  align-items: center;

  &__heading {
    margin-bottom: 5rem;
    letter-spacing: 2px;
  }

  &__left-article {
    width: 80%;
  }

  &__form label {
    font-size: 2rem;
  }

  &__form input {
    outline: none;
    border: 1px solid #0008;
    border-radius: 3px;

    &:focus {
      border: 1px solid #000;
      box-shadow: 2px 2px 4px #0003;
    }
  }

  &__radio-container {
    align-items: center;
  }

  &__radio-text {
    justify-self: flex-start;
    text-align: left;
    font-family: $lato;
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
  }

  &__radio-container {
    display: flex;
    justify-content: space-between;
    width: 80rem;
  }

  &__textarea {
    width: 65rem;
  }

  &__submit-button {
    padding: 1rem;
    margin-top: 2rem;
    width: 30rem;
    background: none;
    border: 1px solid $main-color;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: $lato;
  }

  &__images-container {
    display: flex;
    width: 50%;
    height: 55rem;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__image-container {
    display: flex;
    position: relative;
    margin: 1rem;
  }

  &__empty-div {
    display: inline-block;
    width: 27rem;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;

    p {
      font-size: 2.2rem;
      font-weight: 700;
      font-family: $lato;
      transform: rotate(+90deg);
      /* Safari */
      -webkit-transform: rotate(+90deg);

      /* Firefox */
      -moz-transform: rotate(+90deg);

      /* IE */
      -ms-transform: rotate(+90deg);

      /* Opera */
      -o-transform: rotate(+90deg);
    }
  }
}
