.shop-detail {
  padding: 10rem 0;

  &__image-container {
    position: relative;
    width: 35rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90rem;
  }

  &__content-heading {
    font-size: 4rem;
  }

  &__content-price {
    padding-top: 1.5rem;
  }

  &__button-container {
    display: flex;
    padding: 5rem 0;
    width: 43rem;

    /* Chrome, Safari, Edge, Opera */
    ::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }

  &__content-wine-sum {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $main-color;
    width: 4rem;
    height: 4rem;
    text-align: center;
    margin: 0 1rem;
  }

  &__input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $main-color;
    padding: 0.9rem;
    text-align: center;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__content-button {
    background: none;
    text-transform: uppercase;
    border: 2px solid $main-color;
    height: 4rem;
    width: 20rem;
    cursor: pointer;
    margin-left: 6rem;
  }

  &__content-description {
    text-align: left;
    color: #363636;
    font-size: 2.3rem;
    line-height: 1.5;
  }

  &__content-specification-heading {
    padding: 4rem 0 2rem 0;
  }

  &__content-specification-text-container {
    display: flex;
  }

  &__content-specification-text {
    padding-bottom: 1.5rem;
    width: 15rem;
    text-align: left;
    font-weight: 700;
  }

  &__content-specification-text-span {
    text-transform: capitalize;
    font-style: italic;
  }

  &__content-wine-profile-text {
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: 2.5rem;
  }

  &__content-wine-profile-span {
    padding-bottom: 1.5rem;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-align: left;
    color: #363636;
    font-style: italic;
  }
}
