.heading-h1 {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size: 9rem;
  font-weight: 600;
  font-family: $poppins;
  z-index: 1;
  text-transform: uppercase;
}

.heading-h2 {
  font-size: 6rem;
  font-weight: 700;
  color: $main-color;
  font-family: $poppins;
  text-transform: uppercase;
}
