.cart {
  padding: 10rem 0;
  flex-direction: column;

  &__heading-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      font-size: 5rem;
      letter-spacing: 2px;
    }

    p {
      margin-top: 1rem;
      font-style: italic;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
  }

  &__coupon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__coupon-heading {
    padding-bottom: 2rem;
  }

  &__coupon-input-container {
    display: flex;
    align-items: center;
  }

  &__coupon-input {
    padding: 0.5rem 0;
  }

  &__coupon-button {
    background: none;
    border: none;
    width: 5.3rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $main-color;
    cursor: pointer;
    font-size: 2rem;
    font-family: $lato;
    margin-left: 2rem;
  }

  &__sum-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__sum-price-container {
    display: flex;
    width: 35rem;
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  &__sum-price-text {
    font-family: $lato;
    font-size: 2rem;
    text-align: right;
  }

  &__sum-price-price {
    font-family: $lato;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
  }

  &__sum-price-text-price-total {
    font-weight: bold;
  }

  &__sum-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35rem;
    margin-top: 3rem;
  }

  &__sum-price-button {
    background: none;
    padding: 0.5rem 1rem;
    font-family: $lato;
    font-size: 2rem;
    outline: none;
  }
}
