.cart {
  padding: 10rem 0;
  flex-direction: column;

  &__heading-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      margin-top: 1rem;
    }
  }
}
