@use "sass:math";

.home-moments {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10rem;
  position: relative;

  &__col:nth-child(1) {
    position: relative;
    top: 15rem;

    p {
      color: $main-color;
      opacity: 80%;
      font-size: 2.5rem;
      line-height: 1.5;
      text-align: left;
      margin-top: 3rem;
      font-family: $lato;
    }
  }

  &__heading {
    font-size: $poppins;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $main-color;
    text-shadow: none;
  }

  &__link {
    display: inline-flex;
    color: $accent-color;
    font-family: $lato;
    font-size: 4rem;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease-out;

    &:hover {
      color: lighten($accent-color, 20%);
      transform: translateX(1.5rem);
    }
  }

  &__photo-stack {
    figure {
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;

      $photos: 7;

      @for $i from 1 through $photos {
        &:nth-child(#{$i}) {
          img {
            $rotation: (math.div($i - 1, $photos - 1)) - 0.5;
            transform: scale(0.6) rotate($rotation * 30deg);
            transition: all ease-out;
          }
        }
      }

      img {
        width: 110vmin;
        height: 110vmin;
        border-radius: 0.5rem;
        object-fit: cover;
      }
    }
  }
}
