@use "sass:math";

.home-moments {
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;

  &__heading {
    font-size: $poppins;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 800;
    color: $main-color;
    text-shadow: none;
  }

  &__link {
    color: rgb(78, 73, 73);
    font-family: $lato;
    font-size: 4rem;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease-out;

    &:hover {
      color: $main-color;
    }
  }

  &__photo-stack {
    figure {
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;

      $photos: 7;

      @for $i from 1 through $photos {
        &:nth-child(#{$i}) {
          img {
            $rotation: (math.div($i - 1, $photos - 1)) - 0.5;
            transform: scale(0.6) rotate($rotation * 30deg);
          }
        }
      }

      img {
        width: 110vmin;
        height: 110vmin;
        border-radius: 0.5rem;
      }
    }
  }
}
