.home-gallery {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;

  &__heading {
    font-size: 7rem;
    font-family: $poppins;
    font-weight: 800;
  }

  &__sub-heading {
    font-size: 5rem;
    font-family: $poppins;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 50px;
  }

  &__span {
    font-size: 2rem;
    font-family: $lato;
    font-weight: 400;
    text-transform: uppercase;
  }
}
