.shop-product-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50rem;
  margin-bottom: 7rem;

  &__image-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 2rem 0;
  }

  &__text {
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: 500;
    color: #363636;
  }

  &__price {
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: 700;
    margin-right: 0.5rem;
  }

  &__volume {
    font-size: 1.7rem;
  }

  &__link {
    margin-top: 2rem;
    display: inline-flex;
    padding: 1rem 4rem;
    text-decoration: none;
    font-size: 2em;
    font-family: $lato;
    font-weight: 700;
    outline: 1px solid $main-color;
    color: $main-color;
  }
}
